.body {
	background-color: #e1e1e1;
	background-image: url("../Images/FN_091.jpg");

    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
	width: 100%;
	height: 100%;
}

#WrappingContainer {
	
    width:100%;
    height:100%;
    display:table;
    position:absolute;
}

#WrappingContainer p {
	font-family: Calibri light;
	font-size: 30;
	margin:20px;
}

	#Chapter_window {
		background-color:#fff;
		float:left;
		border-radius:2px;
		-webkit-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.68);
		-moz-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.68);
		box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.68);
	}

		#Chapter_window p {
			font-family: Calibri light;
			font-size: 15;
		}
		/*---------------------------------------Scrollbox---------------------------*/

			.myBox {
				border: none;
				padding: 5px;
				font: 24px/36px sans-serif;
				height: 450px;
				overflow: scroll;
			}

			/* Scrollbar styles */
			::-webkit-scrollbar {
				width: 12px;
				height: 12px;
			}

			::-webkit-scrollbar-track {
				background: #f5f5f5;
				border-radius: 2px;
			}

			::-webkit-scrollbar-thumb {
				border-radius:2px;
				background: #ccc;  
			}

			::-webkit-scrollbar-thumb:hover {
				background: #999;  
			}

	#right_Container {
		margin-left:10px;
	}

		#Chapter_Overview {
			padding:0;
			background-color:#fff;
			float:left;
			border-radius:2px;
			text-align:center;
			-webkit-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.68);
			-moz-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.68);
			box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.68);
			overflow:hidden;
		}

			#Chapter_Overview a{
				text-decoration: none;
				color:#000;
				font-family: Calibri light;
				
			}

			.chapter_nav {
				border-bottom:1px groove #000000;
				height:30px;
			}

			.chapter_nav:hover {
				background-color:#8ba1bf;
			}

			.chapter_nav :active {
				background-color:#7e92ac;
			}

			.chapter_nav_last {
				height:30px;
			}

			.chapter_nav_last:hover {
				background-color:#8ba1bf;
			}



	/*-------------------------Buttons--------------------------------------*/

	.btn {
	  background: #64869c;
	  background-image: -webkit-linear-gradient(top, #64869c, #7ba4bd);
	  background-image: -moz-linear-gradient(top, #64869c, #7ba4bd);
	  background-image: -ms-linear-gradient(top, #64869c, #7ba4bd);
	  background-image: -o-linear-gradient(top, #64869c, #7ba4bd);
	  background-image: linear-gradient(to bottom, #64869c, #7ba4bd);
	  -webkit-border-radius: 6;
	  -moz-border-radius: 6;
	  border-radius: 6px;
	  -webkit-box-shadow: 0px 0px 8px #666666;
	  -moz-box-shadow: 0px 0px 8px #666666;
	  box-shadow: 0px 0px 8px #666666;
	  font-family: Calibri light;
	  color: #000;
	  font-size: 19px;
	  padding: 11px 20px 10px 20px;
	  text-decoration: none;
	  margin-top:25px;
	}

	.btn:hover {
	  background: #80a7bf;
	  background-image: -webkit-linear-gradient(top, #80a7bf, #aac3d4);
	  background-image: -moz-linear-gradient(top, #80a7bf, #aac3d4);
	  background-image: -ms-linear-gradient(top, #80a7bf, #aac3d4);
	  background-image: -o-linear-gradient(top, #80a7bf, #aac3d4);
	  background-image: linear-gradient(to bottom, #80a7bf, #aac3d4);
	  text-decoration: none;
	}
	
/*---------------------------------------------------------------REGISTER--------------------------------------------*/

#register_Container {
	Background-color:#fff;
	border-radius:2px;
	-webkit-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.68);
	-moz-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.68);
	box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.68);
	overflow:hidden;
	margin-top:10px;
}

#login_Container {
	Background-color:#fff;
	border-radius:2px;
	-webkit-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.68);
	-moz-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.68);
	box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.68);
	overflow:hidden;
   margin-top:100px;
     
    
}
#middle {
    display: table-cell;
    vertical-align: middle;
   
}

#WrappingContainer {
    margin:0 auto;
}
