* { /*styles every div*/
    box-sizing: border-box;
}

body {
	background-color: #e1e1e1;
	background-image: url("../Images/FN_091.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
	width: 100%;
	height: 100%;
}
  
    @media only screen and (max-width : 320px) and (min-width: 0px) {
        #WrappingContainer {
			margin: 6px;
            padding: 0;
            width: 300px;
        }
        
        #ProfileContainer {
            border-radius: 0px;
			/*background-color:slateblue !important;*/
			padding: 20px !important;
        }
		
		#ProfileTextContainer {
			padding-left: 20px !important;
		}
        
        #Name  {
            font-size: 40px;
        }
        
        #Container {
            margin:0;
            background-color: #fff;
        }
        
        /* #Modul1 {
            margin: 5px 0px 5px 0px !important; 
        }
        
        #Modul3 {
            margin: 5px 0px 5px 0px !important; 
        }
        
        #Modul5 {
            margin: 5px 0px 5px 0px !important; 
        }
        
        #Modul7 {
            margin: 5px 0px 5px 0px !important; 
        }*/
        
        .modul {
          margin: 5px 20px 5px 0px !important;
             font-size: 30px;
            height: 400px;
        }
        
        .chapterTitel {
            font-size: 40px;
        }
        
    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 480px) and (min-width: 320px) {
        #WrappingContainer {
            margin: 10px;
            padding: 0;
            /*min-width: 460px;*/
        }    
        
        #ProfileContainer {
             border-radius: 0px;
			 /*background-color:hotpink !important;*/
        }
        
       #ProfilePic {
            width: 100px;
            height: 100px;
        }
        
         #Name  {
            font-size: 40px;
        }
        
        #Container {
            margin:0;
            background-color: #fff;
        }
        
       /*  #Modul1 {
            margin: 5px 0px 5px 0px !important; 
        }
        
        #Modul3 {
            margin: 5px 0px 5px 0px !important; 
        }
        
        #Modul5 {
            margin: 5px 0px 5px 0px !important; 
        }
        
        #Modul7 {
            margin: 5px 0px 5px 0px !important; 
        }*/
        
        .modul {
            margin: 5px 20px 5px 0px !important;
            height: 400px;
        }
        
        #TrainerIcon {
            margin-top: 6px;
            margin-left: 20px;
            font-size: 30px;
        }
        
        .chapterTitel {
            font-size: 40px;
        }
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width:768px) and (min-width:480px) {
         #WrappingContainer {
            /*background-color:coral;*/
            margin: 10px;
            padding: 0; 
        }
        
        #ProfileContainer {
             border-radius: 0px;
        }
        
        #ProfilePic {
            width: 100px;
            height: 100px;
        } 
        
         #Name  {
            font-size: 60px;
        }
        
        #Container {
            margin:0;
            background-color: #fff;
        }
        
         /*#Modul1 {
            margin: 5px 0px 5px 0px !important; 
        }
        
        #Modul3 {
            margin: 5px 0px 5px 0px !important; 
        }
        
        #Modul5 {
            margin: 5px 0px 5px 0px !important; 
        }
        
        #Modul7 {
            margin: 5px 0px 5px 0px !important; 
        }*/
        
        .modul {
            margin: 5px 20px 5px 0px !important;
            height: 400px;
        }
        
        
        #TrainerIcon {
            margin-top: 6px;
            margin-left: 20px;
             font-size: 30px;
        }
        
        .chapterTitel {
            font-size: 40px;
        }
        
        
    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 992px) and (min-width:768px){
        #WrappingContainer {
            margin: 20px auto;
            padding: 0;
            /*background-color: aqua;*/
        }
        
        #ProfileContainer {
             border-radius: 2px;
        }
        
        #Name  {
            font-size: 75px;
        }
        
        #Container1 {
            margin-bottom: 10px;
        }
        
        /*#Modul1 {
            margin: 5px 0px 5px 0px !important; 
        }
        
        #Modul3 {
            margin: 5px 0px 5px 0px !important; 
        }
        
        #Modul5 {
            margin: 5px 0px 5px 0px !important; 
        }
        
        #Modul7 {
            margin: 5px 0px 5px 0px !important; 
        }*/
        
        
        .modul {
            margin: 5px 20px 5px 0px !important;
            height: 360px;
        }
        
        #TrainerIcon {
            margin-top: -2px;
            margin-left: -2px;
             font-size: 40px;
        }
        
        #ProfilePic {
            width: 130px;
            height: 130px;
            margin-left: 30px;
        } 
        
        .chapterTitel {
            font-size: 50px;
        }
        
        .chapterInfo {
            font-size: 20px !important;
        }
    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 1200px) and (min-width : 992px)  {
        #WrappingContainer {
            /*background-color:khaki;*/
            margin: 20px auto;
            padding: 0;
        }
        
        #ProfileContainer {
             border-radius: 2px;
        }
        
        #ProfilePic {
            width: 200px;
            height: 200px;
        } 
        
        #Name  {
            font-size: 75px;
        }
        
        /*#Modul3 {
            margin: 5px 0px 5px 0px !important; 
        }*/
        
        .modul {
            margin: 5px 20px 5px 0px !important;
            height: 355px;
        }
        
         #TrainerIcon {
            margin-top: -2px;
            margin-left: -2px;
            font-size: 45px;
        }
        
        .chapterTitel {
            font-size: 40px;
        }
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
        
        #WrappingContainer {
            /*background-color:lavenderblush;*/
            margin: 20px auto;
            padding: 0;
        }
        
        #ProfileContainer {
             border-radius: 2px;
        }
        
        #Name  {
            font-size: 75px;
        }
        
        .contaier {
            background-color: aqua;
        }
        
       /* #Modul3 {
            margin: 5px 0px 5px 0px !important; 
        }*
        
        
        .modul {
           /* margin: 5px 20px 5px 0px;*/
            height: 335px;
        }

        #ProfilePic {
            width: 230px;
            height: 230px;
        }
        
        .chapterTitel {
            font-size: 45px;
        }
        
         #TrainerIcon {
            margin-top: -2px;
            margin-left: -2px;
              font-size: 45px;
        }
        
    }

/*Style without Media Querries*/

	#WrappingContainer {
		padding: 0;
	}
	
		#ProfileContainer {
			padding: 40px;
            background-color: #fff;
			margin: 0 !important;
		}
		
			#ProfilePic {

			}
			
		#ProfileTextContainer {
			font-family: 'Open Sans', sans-serif;
			padding-left: 40px; 
		}	
		
			#Name  {
				margin: 0;
				padding-bottom: 10px;
				font-family: 'Open Sans Condensed', sans-serif;
			}
			
			#UserDataContainer {
				color: #636363;
				text-decoration: none;
				font-size: 20px;
				padding-left: 2px;
			}
			
			#ProfileOptions {
			}

				#ProfileOptions a  {
					color: #e31465;
					font-size: 20px;
				}
			
					#ProfileOptions a:hover  {
						text-decoration: none;
						color: #636363;
					}
					
					
				#LogOutButton {
					display: inline-block;
                    float:left;
                    margin: 0px 0px 10px 0px;
				}
		
		#Container {
			padding-top:20px;
            
		}
		
			#ModulOverviewHeading {
				margin: 0;
				font-family: 'Open Sans Condensed', sans-serif;
				font-size: 60px;
			}
			
			#ModulContainer {
				margin:0;
				padding-top:20px;
				
				
			}

                .modulHeading {
                    font-family: 'Open Sans Condensed', sans-serif;
                    font-size: 40px;
                    margin-left: 50px;
                }
				
				.modul {
		    margin: 5px 20px 5px 0px !important;
                    padding: 10px;
                    border-radius: 2px;
                    background-color: #fff;
		    height: 350px;
					
				}
				
				.modulNat {
					width: 280px;
                    height: 340px;
                    margin: 5px 20px 5px 0px;
                    padding: 10px;
                    border-radius: 0px;
                    background-color: #fff; 
					background-image: url(../Images/SmaBa.jpg);
					background-repeat: no-repeat;
					background-size: 100%;
					transition: box-shadow 0.2s linear 0s; 

				}
				
				.modulNat:hover {
                    width: 280px;
                    height: 340px;
                    margin: 5px 20px 5px 0px;
                    padding: 10px;
                    border-radius: 0px;
                    background-color: #fff; 
					box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
					transition: box-shadow 0.2s linear 0s; 
					background-image: url(../Images/SmaBa.jpg);
					background-repeat: no-repeat;
					background-size: 100%;

				}
				
                
                #TrainerIcon {
                    color: #265a88;
                    position: absolute;
                    width: 50px;
                    height: 50px;
                }

					.chapterTitel{
				        margin: 6px;
                        font-family: 'Open Sans condensed', sans-serif;
                        text-align: center;
                        height: 70px;
					}
					
					.chapterImage{
						border-radius: 10px;
						width : 150px;
                        height: 150px;
						margin: 0 auto;
                        padding: 20px;
						
					}
					
					.chapterBarOuter{
						margin:0 auto;
						width: 90%;
						margin-top: 10px;
						margin-bottom: 10px;	
					}
					
					.chapterBar{
						width : 95 %;
						margin: 0 auto;
						background-color:  #e31465;
					}

					.chapterInfo{
						font-family: 'Open Sans', sans-serif;
                        font-size: 15px;
						margin:0 auto;
						text-align:left;
                        padding-left: 15px;
					}
.noPadding {
	padding:0 !important;

}				
#dropdownMenuButton {
	width: 130px !important;
}

.plusBox {
	background-color: rgba(255, 255, 255, 0.6) !important;
	display: table;
	width:100%;
}

#PlusButton {
	background-color: rgba(255, 255, 255, 0) !important;
	width: 100%;
	border: none;
	display: table-cell;
	vertical-align: middle;
}
